/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos del encabezado */
  header {
    display: flex; /* Utiliza flexbox para la disposición */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px 0;
  }
  .logo img {
    display: flex;
    align-items: center;
    max-width: 250px; /* ajusta el tamaño máximo del logo según tu diseño */
    height: auto;
    margin-left: 40px;
    margin-right:30px;
  }
  nav {
    margin: auto;
    display: flex; /* Utiliza flexbox para alinear verticalmente */
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    transition: color 0.3s ease;
    font-size: 18px;
    text-decoration: none;
    color: #fff; /* Color de texto predeterminado */
    padding: 10px 15px;
  }
  nav ul li a:hover {
    color: #EEE8AA; /* Cambia el color del texto al pasar el ratón */
  }
  
  /* Estilo para el enlace activo */
  nav ul li a.active {
    border-radius: 20px;
    background-color: #94907C; /* Color de fondo para el enlace activo */
  }
  .titulo-index{
    font-family: "Libre Bodoni", serif;
  }
  /* .destacado{
    font-weight: bold;
    color: #EEE8AA;
  } */
  /* Estilos de la sección de presentación */
  #presentacion {
    background-color: rgba(0, 0, 0, 0.7); /* Cambia la opacidad del fondo para mejorar la legibilidad */
    padding: 100px 0;
    background-size: cover;
    text-align: center;
  }
  
  #presentacion h1 {
    color: #fff; /* Cambia el color del texto a blanco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-size: 45px;
    margin-bottom: 20px;
  }
  
  #presentacion p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  #servicios{
    text-align: center;
    color: #121212;
  }
  @keyframes show {
    from{
      opacity: o;
      scale: 25%;
    }

    to{
      opacity: 1;
      scale: 100%;
    }
  }
  .card {
    border: 1px solid #94907C;
    color: #fff;
    background-color: #2c2c2c; /* Cambia el color de fondo de las tarjetas */
  transition: transform 0.3s ease;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    margin: 25px auto;
    width: 90% ;/* Tamaño de las tarjetas (33.33% para tres tarjetas en una fila) */
    box-sizing: border-box; /* Incluir el padding y border en el ancho de la tarjeta */
    view-timeline-name: --card;
    view-timeline-axis: block;
    animation-timeline: --card;
    animation-name: show;
    animation-range: entry 25% cover 40%;
    animation-fill-mode: both;
  }
  .card:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
  }
  
  .card h2 {
    margin-bottom: 10px;
  }
  
  .card p {
    margin-bottom: 0;
  }
  .imagen-card{
    height: 100px;
    width: auto;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  /* Estilos de la sección de servicios */
  #servicios {
    padding: 50px 0;
  }
  
  .servicio {
    margin-bottom: 30px;
  }
  
  .servicio img {
    max-width: 100%;
  }
  
  .servicio h3 {
    margin-top: 15px;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  